@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --night: #0a100d;
  --ash-grey: #b9baa3;
  --timberwolf: #d6d5c9;
}

body {
  background-color: var(--night);
  color: var(--timberwolf);
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}
