@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --night: #0A100D;
  --ash-grey: #B9BAA3;
  --timberwolf: #D6D5C9;
}

body {
  background-color: var(--night);
  color: var(--timberwolf);
}